/* line 1, sass/style.scss */
body {
  color: #013045;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  font-size: 2rem; }

/* line 9, sass/style.scss */
h1 {
  color: #013045;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 3rem; }

/* line 16, sass/style.scss */
h2, h3 {
  color: #013045;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 2.3rem; }

/* line 23, sass/style.scss */
h4 {
  color: #013045;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  font-size: 2.1rem; }

/* line 30, sass/style.scss */
a {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  text-decoration: none; }
